<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML//EN">
<html>
<head>
<meta http-equiv='content-type' value='text/html;charset=utf8'>
<title>{{ page.title }}</title>
<link rel="stylesheet" href="css/style.css">
<link rel="stylesheet" href="css/toc.css">
<script type="text/javascript" src="js/toc.js">
</script>
</head>

<body>

<div id="content">

<h1 id="title">{{ page.title }}</h1>

<div id="toc-block">
  <span id="toc-heading">Table of Contents</span>
  <div id="toc"></div>
</div>

{{ content }}
</div> <!-- content -->

<script type="text/javascript">
createTOC();
</script>

</body>
</html>
