<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML//EN">
<html>
<!-- ERB: README.html.erb -->
<head>
<title><%= title %></title>
<link rel="stylesheet" href="style.css">
</head>

<body>
<div id="content">

<h1><%= title %></h1>

<%= content %>

</div>

</body>
</html>
